nav {
  background-color: #f8df20 !important;
  height: 100px;
}
nav #red {
  color: #ee252f;
}
header {
  background-image: url(../img/banner-bg.png);
}
header img {
  display: block;
  margin: 0 auto;
}
header button {
  background-color: #f8df20 !important;
}
