@import "variables";

//Mixins
.red-color {
  color: @red-primary;
}
button {
  background-color: @yellow-primary !important;
  &:hover {
    border: 2px solid @red-primary;
  }
}

//Generalized styles
nav {
  background-color: @yellow-primary !important;
  height: 100px;
  .container {
    justify-content: left !important;
    li {
      padding-right: 30px;
    }
  }
}
header {
  background-image: url(../img/banner-bg2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
    img {
      display: block;
      margin: 0 auto;
      height: 140px;
      padding-bottom: 10px;
    }
}
section {
  padding-top: 50px;
  padding-bottom: 50px;
}

footer {
  border-top: 8px solid @yellow-primary;
  height: 125px;
  background-color: @black-primary !important;
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
  img {
    height: 80px;
    margin-top: 20px;
  }
}
